$color-map: (
  "transparent": transparent,
  "white": #fff,
  "red": #e11515,
);

@each $key, $value in $color-map {
  .bg-color-#{$key} {
    background-color: $value;
  }
  .text-color-#{$key} {
    color: $value;
  }
}