.home-bg {
  background-image: linear-gradient(to right bottom, rgba(176, 192, 215, 0.8), rgba(85, 120, 170, 0.8)),
    url('~@/base/assets/img/home-bg.jpg');
}

// modal
.base-modal {
  .vfm__container {
    display: flex;
    align-items: center;
  }
  .vfm__content {
    margin: auto;
    min-width: 340px;
    border-radius: 1rem;
    background-color: #fff;
  }
}

button {
  background: transparent;
  cursor: pointer;
}

i {
  display: block;
}

a {
  text-decoration: none;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}